@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../tools/media-queries' as mq;

html {
  font-family: ff.$noto;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  color: clr.$text;
}

#root {
  display: flex;
  width: 100%;
  max-height: 100vh;
  @include mq.sp {
    max-height: unset;
  }
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include mq.sp {
    height: auto;
  }
}
