@use '../settings/color' as clr;
@use '../tools/media-queries' as mq;

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  background: clr.$gray-bg;
  @include mq.sp {
    height: 100dvh;
  }
}
