@use '../settings/color' as clr;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;

.drawer {
  $p: &;

  width: 100%;
  position: relative;
  z-index: 3;
  max-width: 250px;
  transition:
    max-width 0.3s ease,
    padding-inline 0.3s ease;
  overflow: hidden;
  grid-area: 1 / 2 / 3;
  @include mq.sp {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    pointer-events: none;
    overflow: unset;
    height: 34vh;
    transition: transform 0.3s ease;
  }

  &.hidden {
    @include mq.pc {
      padding-inline: 0;
      max-width: 0;
    }
    @include mq.sp {
      transform: translateY(calc(34vh - 36px));
    }
  }

  &__inner {
    padding: 50px 24px 0;
    position: sticky;
    top: 0;
    min-width: 250px;
    height: 100%;
    background: clr.$gray-bg2;
    overflow: hidden auto;
    scrollbar-width: thin;
    @include mq.sp {
      border-radius: 0;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      background: none;
      overflow: unset;
    }
  }

  &__container {
    @include mq.sp {
      padding: 20px;
      flex: 1;
      overflow-y: auto;
      background: clr.$gray-bg2;
      pointer-events: auto;
    }
  }

  &__section {
    padding-bottom: 20px;
    @include mq.sp {
      padding-bottom: 10px;
    }
  }

  &__heading {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: fw.$medium;
    @include mq.sp {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  &__toggle {
    border: none;
    border-radius: 4px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.2s ease;
    line-height: 1em;
    gap: 4px;
    letter-spacing: 0.02em;
    font-weight: fw.$medium;
    background: clr.$gray-bg2;
    @include mq.sp {
      margin-left: auto;
      position: relative;
      border-radius: 8px 8px 0 0;
      padding: 12px 30px 12px 18px;
      top: 1px;
      background: clr.$gray-bg2;
      pointer-events: auto;
    }

    &:hover,
    &:active {
      background: clr.$accent-lightest;
    }

    &:focus-visible {
      outline: 2px dashed rgba($color: clr.$accent, $alpha: 60%);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: 0.3s ease-in-out;
      width: 20px;
      height: 20px;
      @include mq.sp {
        width: 16px;
        height: 16px;
      }
    }

    &::before {
      right: 4px;
      opacity: 1;
      transform: scale(1);
      background-image: url('../../../public/bookmark.svg');
      @include mq.sp {
        right: 8px;
        top: -1px;
      }
    }

    &::after {
      margin: auto;
      right: 6px;
      bottom: 0;
      opacity: 0;
      transform: scale(0);
      background-image: url('../../../public/x-mark.svg');
      @include mq.sp {
        right: 8px;
      }
    }

    &.active {
      &::before {
        opacity: 0;
        transform: scale(0);
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
