@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../settings/screen-sizes' as sz;
@use '../tools/media-queries' as mq;
@use '../tools/function' as fn;
@use '../tools/mixin' as mxn;

.drawer {
  padding: 70px 24px 0;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 250px;
  background: clr.$gray-bg2;
  @include mq.sp {
    border-radius: 0;
    padding: 0;
    position: relative;
    height: 34vh;
    transition: 0.2s ease;
    background: none;
  }

  &__container {
    @include mq.sp {
      padding: 20px;
      height: 100%;
      overflow-y: auto;
      background: clr.$gray-bg2;
      pointer-events: auto;
    }
  }

  &__section {
    padding-bottom: 20px;
    @include mq.sp {
      padding-bottom: 10px;
    }
  }

  &__heading {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: fw.$medium;
    @include mq.sp {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  &__toggle {
    border: none;
    border-radius: 4px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.2s ease;
    line-height: 1em;
    gap: 4px;
    letter-spacing: 0.02em;
    font-weight: fw.$medium;
    @include mq.sp {
      margin-left: auto;
      position: static;
      border-radius: 8px 8px 0 0;
      padding: 12px 18px;
      top: 10px;
      background: clr.$gray-bg2;
      pointer-events: auto;
    }

    &:hover,
    &:active {
      background: clr.$accent-lightest;
    }

    &:focus-visible {
      outline: 2px dashed rgba($color: clr.$accent, $alpha: 60%);
    }
  }
}
