@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;

.fave-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6px;

  &:not(:last-child) {
    margin-bottom: 8px;
    @include mq.sp {
      margin-bottom: 5px;
    }
  }

  &__text {
    padding-top: 6px;
    width: 135px;
    font-size: 16px;
    @include mq.sp {
      font-size: 14px;
    }
  }

  &__kanji {
    font-size: 18px;
    font-weight: fw.$medium;
    @include mq.sp {
      font-size: 16px;
    }
  }

  &__def {
    font-size: 13px;
  }

  &__actions {
    display: flex;
  }

  &__fave {
    margin: 0;
    position: static;
  }
}
