@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;

.header {
  position: sticky;
  padding: 14px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgba($color: clr.$gray-bg, $alpha: 60%);
  backdrop-filter: blur(3px);

  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    cursor: default;

    &--link {
      cursor: pointer;
    }
  }

  &__title {
    font-weight: fw.$regular;
    font-size: 12px;
    font-family: ff.$noto;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__jp {
    margin-bottom: 3px;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-family: ff.$mochiy;
    line-height: 1em;

    &::after {
      content: '';
      position: absolute;
      right: -4px;
      top: -1px;
      width: 3px;
      height: 22px;
      background: clr.$accent-light;
      border-radius: 1px;
      animation: caret-blink 1.1s step-end 3;
    }
  }

  &__logo-test {
    font-family: ff.$mochiy;
  }

  &__logo-svg {
    width: 30px;
  }
}
