@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../settings/screen-sizes' as sz;
@use '../tools/media-queries' as mq;
@use '../tools/function' as fn;
@use '../tools/mixin' as mxn;

.icon {
  width: 20px;
  @include mq.sp {
    width: 16px;
  }

  path {
    stroke: clr.$text;
  }

  &.active {
    path {
      fill: clr.$text;
    }
  }
}
