@use '../settings/color' as clr;
@use '../tools/media-queries' as mq;

.icon {
  width: 20px;
  @include mq.sp {
    width: 16px;
  }

  path {
    stroke: clr.$text;
  }

  &.active {
    path {
      fill: clr.$text;
    }
  }
}
