#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  width: 55vw;
  aspect-ratio: 2.2;
  font-size: 18px;
  padding: 20px;
  max-width: 920px;
  resize: none;
}

button:disabled {
  pointer-events: none;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.button--icon-only {
  position: absolute;
  top: 0;
  width: fit-content;
  padding: 0;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
  right: 26px;
  height: fit-content;
  background: none;
}

.button--icon-only .button__icon {
  width: 20px;
  height: 20px;
}

.button:disabled .button__icon {
  opacity: 0.4;
}

.button__icon {
  width: 25px;
  height: 25px;
}

.search {
  margin-top: 50px;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input-box {
  position: relative;
  width: fit-content;
}

.search__input {
  padding: 1em 1.2em;
  margin-right: 20px;
}

.search__results {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
