$gray-f6: #f6f6f6;
$lightblue: #81abb9;
$gray-4a: #4a5048;
$gray-bc: #bcbcbc;
$blue-6b: #6b8e9a;
$gray-de: #deeaf4;
$gray-f0: #f0f0f0;
$blue-8d: #8dc2d4;
$gray-d2: #d2d2d2;
$text: #323232;
$white: #fff;
$gray: #eef2f8;
