#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

textarea {
  width: 55vw;
  aspect-ratio: 2.2;
  font-size: 18px;
  padding: 20px;
  max-width: 920px;
  resize: none;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.button:disabled {
  pointer-events: none;
}

.button:disabled .button__icon {
  opacity: 0.4;
}

.button__icon {
  width: 25px;
  height: 25px;
}
